.main,
.sidebar {
	position: absolute;
	transition: 0.1s ease-in;
}
.data-v-qvrT8rNI,
body {
	box-sizing: border-box;
	overflow: hidden;
}
html,
body {
	touch-action: manipulation;
}
.data-v-MyW2iRSH,
.data-v-MyW2iRSH *,
.data-v-iY46bKil:not(:has(*)) {
	line-height: 30px;
}
.sidebar,
noscript {
	background-color: #1e1e1e;
	top: 0;
}
.data-v-1uG4iZ0h,
.main,
noscript {
	bottom: 0;
	right: 0;
}
.data-v-LXlNqANi.show,
.data-v-LXlNqANi:hover {
	top: 40px;
	visibility: visible;
}
body,
html {
	height: 100%;
	margin: 0;
}
body {
	background-color: #191919;
}
:root {
	color-scheme: dark;
}

* {
	user-select: none;
	font-family: Rubik;
}
* {
	-webkit-user-select: none; /* Chrome Safari */        
  -moz-user-select: none;    /* Firefox */
}
.sidebar {
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	width: calc(310px - 40px);
	min-width: calc(310px - 40px);
	padding: 0 20px;
	bottom: 0;
	left: 0;
	border-right: 1px solid #2d2d2d;
	z-index: 21;
}
.sidebar .data-v-OTtcBZd2 span {
	position: relative;
	display: inline;
	font-family: "Playpen Sans";
	z-index: 51;
	transition: 0.2s;
}
.main {
	top: 0;
	left: 310px;
	z-index: 6;
}
.data-v-8u3Iqtu9,
.data-v-OTtcBZd2 {
	position: relative;
	margin-top: 15px;
	display: flex;
}
.sidebar:hover {
	border-right-color: #2e2e2e;
}
.data-v-OTtcBZd2 {
	align-items: center;
	gap: 8px;
	overflow: hidden;
	text-transform: capitalize;
	font-size: 38px;
	white-space: nowrap;
}
.data-v-8u3Iqtu9 {
	align-items: center;
	border-radius: 11px;
	background-color: #282828;
	border: 1px solid #3a3a3a;
	padding: 10px;
	gap: 6px;
	transition: 0.2s;
}
.data-v-ujXllYgW {
	flex-grow: 1;
	font-size: 21px;
	outline: 0;
	width: 100%;
	background-color: transparent;
	border: 0;
}
.data-v-MyW2iRSH,
.data-v-j33LBSU4 {
	position: relative;
	font-size: 20px;
	transition: 0.2s;
}
.data-v-ujXllYgW::placeholder {
	color: #b4b4b4;
}
.data-v-1YPTYxid.icon {
	aspect-ratio: 1;
	min-width: 24px;
	min-height: 24px;
	width: 24px;
	height: 24px;
	max-width: 24px;
	max-height: 24px;
	fill: none;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #f3f3f3;
}
.data-v-8FrVw7Ca {
	flex-grow: 1;
	padding: 18px 0;
	gap: 12px;
}
.data-v-8FrVw7Ca .data-v-emr1y6ie {
	display: none;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin: 8px 0;
}

.data-v-8FrVw7Ca .data-v-emr1y6ie.show {
	display: flex;
}
.data-v-qvrT8rNI {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.data-v-ikyLwDf4 {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 6;
	padding: 30px 40px;
	margin-top: 0;
	scroll-behavior: smooth;
	gap: 24px;
	transition: 0.2s;
}
.data-v-ikyLwDf4.data-v-Vjpzmyej {
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
}
.data-v-nKzgeITl .data-v-pLKAJBtH {
	animation-duration: 1.568s;
	animation-iteration-count: infinite;
	animation-name: rotate;
	animation-timing-function: linear;
	transform-origin: 50% 50%;
	width: 50px;
	height: 50px;
}
.data-v-nKzgeITl {
	aspect-ratio: 1;
	min-width: 50px;
	min-height: 50px;
	max-width: 50px;
	max-height: 50px;
	width: 45px;
	height: 45px;
}
.data-v-VC8gtuyS {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.data-v-j33LBSU4 {
	display: flex;
	align-items: end;
	justify-content: start;
	flex-grow: 1;
	padding: 14px;
}
.data-v-COQVUpbO span {
	white-space: nowrap;
	color: #d0d0d0;
	font-size: 18px;
}
.data-v-COQVUpbO:hover span {
	color: #e9e9e9;
}
.data-v-0ciSQShX,
.data-v-0ciSQShX * {
	color: #3ea6ff !important;
	text-decoration: underline;
	cursor: pointer;
}
.data-v-MyW2iRSH .data-v-IMgj7vBV {
	font-family: "JetBrains Mono", Consolas, monospace;
}
.data-v-0ciSQShX.visited,
.data-v-0ciSQShX.visited * {
	color: #a1cfff !important;
}
.data-v-ikyLwDf4 .data-v-VC8gtuyS.data-v-iOw4dg0O {
	flex-direction: row-reverse;
}
.data-v-ikyLwDf4 .data-v-iAFL26p8 {
	animation-duration: 1333ms, 5332ms, 5332ms;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite, infinite, infinite;
	animation-name: fillunfill, rot;
	animation-play-state: running, running, running;
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1), steps(4), linear;
	transform-origin: 50% 50%;
	fill: none;
	stroke: #3e63dd;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-dasharray: 58.9;
	stroke-dashoffset: 58.9;
}
.data-v-VC8gtuyS.data-v-iOw4dg0O .data-v-MyW2iRSH {
	border-radius: 11px 11px 0;
}
.data-v-MyW2iRSH {
	padding: 11px 13px;
	word-break: break-all;
	max-width: 75%;
	outline: 0;
	border-radius: 11px 11px 11px 0;
	border: 1px solid #2d2d2d;
	background-color: #232323;
	z-index: 8;
}
.data-v-eas75dnw,
.data-v-iY46bKil {
	border-radius: 10px;
	position: relative;
}
.data-v-MyW2iRSH.error {
	border-color: #ef4444;
	background-color: #362525;
	color: #ccc;
	user-select: none !important;
}
.data-v-MyW2iRSH .data-v-Nf1WXa5J {
	font-family: "JetBrains Mono", monospace;
	color: #6cb6ff;
}
.data-v-MyW2iRSH .data-v-Nf1WXa5J .quote {
	color: #96d0ff;
	user-select: none;
}
body:has(.data-v-9jgvlvYK:not(.show)) .data-v-MyW2iRSH:hover {
	background-color: #252525;
}
.data-v-MyW2iRSH .nowrap {
	white-space: nowrap !important;
}
.data-v-1uG4iZ0h {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0)
	);
	left: 0;
	width: 100%;
	min-height: 85px;
	max-height: 105px;
	z-index: 9;
}
.data-v-NVX7F4zQ {
	display: flex;
	align-items: center;
	overflow: hidden;
	margin: 0 12px;
	flex-grow: 1;
	width: 100%;
}
.data-v-NVX7F4zQ span {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}
.data-v-iY46bKil {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: inherit;
	margin: 8px 5px 5px;
	overflow: hidden;
	box-shadow: rgba(80, 80, 80, 0.2) 3px 3px 20px;
}
.data-02EVo67v,
.data-v-D9wPO2r0 {
	align-items: center;
	display: flex;
}
.data-v-eas75dnw {
	width: 100%;
	max-width: 500px;
	z-index: 8;
	transition: 0.2s;
	transform: scale(1.2);
}
.data-v-D9wPO2r0 {
	gap: 2px;
	font-size: 24px;
	margin: 0 4px;
}
.data-v-9vGRGDgT {
	padding: 20px 40px;
	transition: 0.2s;
}
.data-v-kFjA3rNT {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #1f1f1f;
	padding: 10px 12px;
	border: 1px solid #2d2d2d;
	border-radius: 12px;
	transition: 0.2s;
	z-index: 29;
}
.data-v-kFjA3rNT:has(.data-v-tsARDHTI[contenteditable="true"]:focus) {
	border-color: #303030;
	background-color: #202020;
}
.data-v-tsARDHTI {
	flex-grow: 1;
	overflow: auto;
	max-height: 180px;
	margin-left: 10px;
	margin-right: 6px;
	margin: 0 6px 0 10px;
	min-height: 26px;
	font-size: 21px;
	outline: 0;
	border: none;
	transition: height 0.2s ease-in;
	resize: none;
	background-color: transparent;
}
.data-02EVo67v {
	justify-content: center;
}
.data-v-MyW2iRSH:focus ::selection,
.data-v-MyW2iRSH:focus::selection,
.data-v-tsARDHTI:focus ::selection,
.data-v-tsARDHTI:focus::selection,
.data-v-ujXllYgW:focus::selection {
	background-color: #264f78;
}
.data-v-tsARDHTI ::selection,
.data-v-tsARDHTI::selection,
.data-v-ujXllYgW::selection {
	background-color: #3a3d41;
}
.data-v-uwRtDpu4 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.2s;
}
.data-v-uwRtDpu4:hover {
	background-color: #353535;
}
.data-v-VC8gtuyS.data-v-iOw4dg0O .data-v-j33LBSU4 {
	justify-content: end;
}
.data-v-uwRtDpu4:active {
	background-color: #3a3a3a;
}
.data-v-tsARDHTI:empty::before {
	content: "Message";
	color: #b4b4b4;
	white-space: nowrap;
	text-transform: capitalize;
}
.data-v-tsARDHTI[contenteditable="true"]::before {
	cursor: text;
}
.data-v-1EV2qZZE.icon {
	stroke: #f3f3f3;
	min-width: 26px;
	min-height: 26px;
	width: 26px;
	height: 26px;
	max-height: 26px;
	max-width: 26px;
	fill: none;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.data-v-wFHDhl6R .close {
	cursor: pointer;
	width: 20px;
	height: 20px;
	aspect-ratio: 1;
	min-width: 20px;
	min-height: 20px;
	max-width: 20px;
	max-height: 20px;
}
.data-v-wFHDhl6R .currentlength.morethan {
	color: #f14c4c;
}
body:has(.data-v-tsARDHTI:focus) .data-v-wFHDhl6R {
	opacity: 1;
}
noscript {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 200;
	left: 0;
}
noscript .data-v-xEV7t6Dm.icon {
	width: 40px;
	height: 40px;
	min-width: 40px;
	min-height: 40px;
	aspect-ratio: 1;
	stroke: #fcfcfc;
	fill: none;
	stroke: #fcfcfc;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}
noscript .title {
	font-size: 29px;
	margin-top: 18px;
}
noscript .description {
	margin-top: 8px;
	font-size: 20px;
}
.data-v-MyW2iRSH .data-v-E2MltG6T {
	color: #768390;
}
.data-v-LXlNqANi {
	position: absolute;
	display: flex;
	align-items: center;
	background-color: rgba(41, 41, 41, 0.9);
	border: 1px solid rgba(56, 56, 56, 0.9);
	border-radius: 11px;
	flex-direction: row;
	visibility: hidden;
	gap: 8px;
	font-size: 19px;
	top: -80px;
	right: 40px;
	width: 350px;
	max-height: 60px;
	overflow: auto;
	padding: 18px;
	margin: auto;
	z-index: 28;
	transition: 0.2s;
	backdrop-filter: blur(5px);
}
.data-v-LXlNqANi.show {
	animation: 0.8s showNotification;
}
.data-v-LXlNqANi .data-v-leSg0o1l {
	width: 24px;
	height: 24px;
	min-width: 24px;
	min-height: 24px;
	fill: none;
	stroke: #fcfcfc;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.data-v-leSg0o1l.error {
	stroke: #f14c47;
}
.data-v-leSg0o1l.success {
	stroke: #2c9310;
}
.data-v-leSg0o1l.info {
	stroke: #6cb6ff;
}
.data-v-leSg0o1l.debug {
	stroke: #8ddb8c;
}
.data-v-LXlNqANi .data-v-5WLQI9tU {
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.data-v-ikyLwDf4.data-v-Vjpzmyej
	:not(.data-v-nKzgeITl, .data-v-pLKAJBtH, .data-v-iAFL26p8) {
	display: none;
}
.swal2-input.data-v-pAibjdG1 {
	text-align: center;
	font-size: 1.4em;
	text-transform: uppercase;
}
.swal2-title.data-v-3HKKqelB {
	padding: 0.45em 1em 0;
}

@keyframes showNotification {
	0% {
		top: -80px;
		transform: none;
	}
	5% {
		visibility: visible;
	}
	75% {
		top: 55px;
	}
	100% {
		top: 40px;
	}
}
@media (max-width: 880px) {
	.sidebar {
		display: none;
	}
	.data-v-LXlNqANi {
		left: 0 !important;
		right: 0 !important;
		margin: auto;
	}
	.main {
		left: 0 !important;
	}
}
@media (max-width: 550px) {
	.data-v-9vGRGDgT,
	.main .data-v-ikyLwDf4 {
		padding: 20px !important;
	}
	.data-v-wFHDhl6R {
		display: none !important;
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes fillunfill {
	0% {
		stroke-dashoffset: 58.8;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -58.4;
	}
}
@keyframes rot {
	0% {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}
