/**v24072437*/

.xCOQVUpbO span,
.xOTtcBZd2,
.xt8fROB2L {
	white-space: nowrap;
}
.sidebar {
	border-right: 1px solid #272a2d;
}
body,
html {
	height: 100%;
	margin: 0;
	touch-action: manipulation;
}
body {
	display: flex;
	flex-direction: row;
	background-color: #111113;
	overflow: hidden;
}

body:has(.error_message) {
	justify-content: center;
	align-items: center;
}

body .error_message {
	font-size: 17px;
	font-weight: 500;
	text-align: center;
}
:root {
	color-scheme: dark;
	color: #e2e3e5;
}
* {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	font-family: "Rubik" !important;
}
.xPgDa0opT,
.xtsARDHTI,
.xtsARDHTI *,
.xujXllYgW,
body.mobile .xMyW2iRSH,
body.mobile .xMyW2iRSH * {
	user-select: text !important;
	-webkit-user-select: text !important;
	-moz-user-select: text !important;
}
.main {
	position: relative;
	z-index: 6;
	display: flex;
	background-color: #111113;
	flex-grow: 1;
	flex-direction: column;
}
.x1EV2qZZE {
	width: 28px;
	height: 28px;
}

.main {
	justify-content: space-between;
	overflow: auto;
	transition: transform .31s ease;
}
.sidebar,
.x8FrVw7Ca {
	flex-direction: column;
	display: flex;
}
.sidebar {
	position: relative;
	justify-content: space-between;
	padding: 20px;
	bottom: 0;
	left: 0;
	min-width: 300px;
	max-width: 300px;
	z-index: 21;
	transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.sidebar .panel_toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 20px;
	top: 0;
	bottom: 0;
	right: -20px;
	margin: auto;
	height: 60px;
	background-color: #222;
	cursor: pointer;
}
.sidebar .xOTtcBZd2 span {
	position: relative;
	display: inline;
	font-family: "Playpen Sans";
	z-index: 51;
	transition: 0.2s;
}
.x8u3Iqtu9,
.xOTtcBZd2 {
	position: relative;
	display: flex;
}
.xOTtcBZd2 {
	align-items: center;
	gap: 8px;
	overflow: hidden;
	text-transform: capitalize;
	font-size: 38px;
}
.x8u3Iqtu9 {
	position: relative;
	align-items: center;
	border-radius: 10px;
	background-color: #18191b;
	border: 1px solid #2e2e34;
	padding: 10px;
	min-height: 30px;
	height: 30px;
	max-height: 30px;
	margin-top: 15px;
	gap: 6px;
	overflow: hidden;
}
.xujXllYgW {
	flex-grow: 1;
	font-size: 20px;
	outline: 0;
	width: 100%;
	padding: 0;
	padding-inline: 0;
	padding-block: 0;
	color: #e2e3e5;
	height: 32px;
	background-color: transparent;
	border: 0;
}
.xMyW2iRSH,
.xtsARDHTI {
	line-height: 25px;
	outline: 0;
}
.xMyW2iRSH,
.xj33LBSU4 {
	position: relative;
	font-size: 18px;
	transition: 0.2s;
}
.xujXllYgW::placeholder {
	color: #b4b4b4;
}
.x1YPTYxid {
	min-width: 22px;
	min-height: 22px;
	max-width: 22px;
	max-height: 22px;
}
.xKljxgVJA:hover .xc4iCj2Gy,
.xMyW2iRSH {
	max-width: 100%;
}
.x8FrVw7Ca {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex-grow: 1;
	position: relative;
	gap: 10px;
	margin-top: 20px;
}
.x8FrVw7Ca .xemr1y6ie {
	display: flex;
	flex-direction: column;
	gap: 15px;
	overflow: auto;
	width: 100%;
	height: 100%;
	flex-grow: 1;
	padding-bottom: 80px;
}
.xqvrT8rNI {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.xikyLwDf4 {
	display: flex;
	position: relative;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 6;
	padding: 30px 40px;
	margin-top: 0;
	gap: 25px;
	padding-bottom: 120px;
	transition: 0.2s;
}
.xikyLwDf4.xVjpzmyej {
	overflow-y: hidden;
}
.xVC8gtuyS {
	display: flex;
	flex-direction: row;
	align-items: start;
	gap: 15px;
}
.xj33LBSU4 {
	display: flex;
	align-items: end;
	justify-content: start;
	flex-grow: 1;
	padding: 14px;
}
.xCOQVUpbO span {
	color: #d0d0d0;
	font-size: 18px;
}
.xCOQVUpbO:hover span {
	color: #e9e9e9;
}
.x0ciSQShX {
	color: #3ea6ff !important;
	text-decoration: underline;
	cursor: pointer;
	word-break: break-all;
}
.xMyW2iRSH .xIMgj7vBV {
	font-family: "JetBrains Mono", Consolas, monospace;
}
.xikyLwDf4 .xVC8gtuyS.xiOw4dg0O {
	flex-direction: row-reverse;
}
.xMyW2iRSH {
	position: relative;
	padding: 10px 12px;
	overflow: hidden;
	word-break: break-all;
	width: auto;
	color: #e2e3e5;
	overflow: hidden;
	border-radius: 11px;
	border: 1px solid #2f2f32;
	background-color: #1b1b1e;
	z-index: 8;
}
.xMyW2iRSH p {
	margin: 0 !important;
}
.xMyW2iRSH ol li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.xMyW2iRSH ol {
	padding-inline-start: 2.5rem;
}
.xu4Celbbq {
	display: flex;
	align-items: center;
}
.xuvoVURIs {
	margin: 0 6px;
}
.xt8fROB2L {
	color: #d0d0d0;
}
.xu4Celbbq .xc4iCj2Gy {
	color: #efefef;
	font-size: 17px;
	cursor: pointer;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: 0.2s;
	white-space: nowrap;
}
.xVC8gtuyS.xiOw4dg0O .xKljxgVJA,
.xVC8gtuyS.xiOw4dg0O .xu4Celbbq {
	align-items: end;
}
.xVC8gtuyS.warning .xMyW2iRSH {
	border-color: #745400;
	background-color: #271a00;
	color: #ffcb47;
}
.xVC8gtuyS.info .xMyW2iRSH {
	border-color: #006675;
	background-color: #002126;
	color: rgb(138, 232, 255);
}
.xMyW2iRSH .xNf1WXa5J {
	font-family: "JetBrains Mono", monospace;
	color: #6cb6ff;
}
.xMyW2iRSH .xNf1WXa5J .quote {
	color: #96d0ff;
	user-select: none;
}
body:has(.x9jgvlvYK:not(.show)) .xMyW2iRSH:hover {
	background-color: #252525;
}
.xMyW2iRSH .nowrap {
	white-space: nowrap !important;
}
.xNVX7F4zQ {
	display: flex;
	align-items: center;
	overflow: hidden;
	margin: 0 12px;
	flex-grow: 1;
	width: 100%;
}
.xNVX7F4zQ span {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}
.xSYcbYqTG {
	width: 45px;
	height: 45px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-width: 45px;
	cursor: pointer;
	border-radius: 50%;
	background-color: #202022;
	border: 1px solid #36363b;
}
.xKljxgVJA {
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	max-width: max(75%, calc(75% - 45px - 26px - 15px));
}
.xikyLwDf4 .xVC8gtuyS.xiOw4dg0O .xu4Celbbq {
	text-align: right;
}
.data-02EVo67v,
.xD9wPO2r0 {
	align-items: center;
	display: flex;
}
.xD9wPO2r0 {
	gap: 2px;
	font-size: 24px;
	margin: 0 4px;
}
.x9vGRGDgT {
	padding: 20px 40px;
	padding-top: 0;
	transition: 0.2s;
}
.xkFjA3rNT {
	padding: 7px; /*8-1 border*/
}
.xqzuE31k1 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	min-width: 28px;
	min-height: 28px;
	padding: 8px;
	border-radius: 8px;
	transition: 0.2s;
	height: calc;
	cursor: pointer;
}
.xqzuE31k1:hover {
	background-color: #303033;
}
.xuwRtDpu4 {
	padding: 8px;
	min-width: 28px;
	min-height: 28px;
	max-width: 28px;
	max-height: 28px;
	position: relative;
}
.xkFjA3rNT {
	display: flex;
	flex-direction: column;
	background-color: #18191b;
	color: #fff;
	border: 1px solid #2f2f2f;
	border-radius: 12px;
	gap: 5px;
	transition: 0.2s;
	overflow: hidden;
	box-sizing: border-box;
	z-index: 29;
}
.xu3LrfLBe {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}
.xcksJq72J,
.xtsARDHTI {
	background-color: transparent;
}
.xtsARDHTI {
	flex-grow: 1;
	overflow: auto;
	max-height: 180px;
	margin: 4px 7px 4px 12px;
	font-size: 20px;
	border: none;
	tab-size: 4;
	resize: none;
	color: #e2e3e5;
	caret-color: #e2e3e5;
}
.xcksJq72J,
.xuwRtDpu4 {
	display: flex;
	transition: 0.2s;
}
.data-02EVo67v {
	justify-content: center;
}
.xuwRtDpu4 {
	overflow: hidden;
	border-radius: 8px;
	outline: 0;
	cursor: pointer;
}
.xuwRtDpu4:hover {
	background-color: #303033;
}
.xVC8gtuyS.xiOw4dg0O .xj33LBSU4 {
	justify-content: end;
}
.xuwRtDpu4:active {
	background-color: #3a3a3c;
}
.xtsARDHTI:empty::before {
	content: attr(placeholder);
	color: #b4b4b4;
	white-space: nowrap;
}
.xtsARDHTI[contenteditable="true"]::before {
	cursor: text;
}
.xwFHDhl6R .currentlength.morethan {
	color: #f14c4c;
}
.xCzYCeh7x,
.xaAFBykLS .menuitem .cont {
	color: #fff;
}
body:has(.xtsARDHTI:focus) .xwFHDhl6R {
	opacity: 1;
}
noscript {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 200;
	left: 0;
}
.xcksJq72J {
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
	border-radius: 10px;
	padding: 12px;
	gap: 18px;
}
.xcksJq72J .xYjGbGfTS {
	height: 100%;
	aspect-ratio: 1;
	background-color: #303030;
	border-radius: 50%;
}
.xKIflJALr,
.xcksJq72J .xsBmrsMA1 {
	flex-grow: 1;
}
.x5nA7I0xC,
.xLwq2C6gp {
	align-items: center;
	position: fixed;
}
.xcksJq72J:hover {
	background-color: #232323;
}
.xCzYCeh7x {
	display: flex;
	align-items: center;
	overflow: hidden;
	margin: 0 2px;
	white-space: nowrap;
	line-height: 35px;
	text-overflow: ellipsis;
	max-width: 100%;
}
.xCzYCeh7x .xbfRemN6Z {
	font-size: 32px;
	-webkit-user-drag: none;
	text-decoration: none !important;
	color: #fff !important;
}
.xLwq2C6gp .x6xGhJciS {
	overflow-y: auto;
	overflow-x: hidden;
}
.xaAFBykLS {
	overflow: auto;
}
.xaAFBykLS {
	box-shadow: 0 0 #0000, 0 0 15px 0 #0000000f, 0 2px 30px 0 #00000038,
		inset 0 0 1px 0 #ffffff26;
}
.x5nA7I0xC {
	display: none;
	justify-content: center;
	z-index: 5000;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #0009;
}
.x5nA7I0xC .xG4luv08g {
	display: flex;
	flex-direction: column;
	width: calc(75% - 64px);
	height: calc(75% - 52px);
	max-width: 780px;
	border-radius: 12px;
	padding: 26px 32px;
	background-color: #18191b;
	border: 1px solid #32363a;
}
.x5nA7I0xC .xG4luv08g .xz5aMGGya ._left {
	font-size: 29px;
	line-height: 40px;
}
@media (max-width: 800px) {
	.x5nA7I0xC .xG4luv08g {
		width: calc(80% - 88px);
		height: calc(80% - 88px); /**padding8*/
	}
}
.xLwq2C6gp {
	display: flex;
	justify-content: center;
	top: -999px;
	bottom: -999px;
	right: -999px;
	left: -999px;
	margin: 0;
	background-color: #0008;
	z-index: 999;
	pointer-events: none;
	backdrop-filter: blur(5px) saturate(1.5);
	-webkit-backdrop-filter: blur(5px) saturate(1.5);
	opacity: 0;
	transition: 0.3s;
}
.xLwq2C6gp.in {
	pointer-events: all;
	opacity: 1;
	transform: translateY(5px) scale(0.97);
}
.xLwq2C6gp .x6xGhJciS {
	display: flex;
	text-align: left;
	align-items: center;
	flex-direction: column;
	width: 420px;
	box-sizing: border-box;
	max-width: 600px;
	max-height: 450px;
	height: auto;
	padding: 28px 12px;
	border: 1px solid #32363a;
	border-radius: 12px;
	background-color: #18181b;
}
.x0dJyyCXg {
	margin-top: 20px;
	background-color: #202022;
	border: 1px solid #484e54;
	width: calc(75% - 24px);
	padding: 10px;
	border-radius: 8px;
	overflow: hidden;
}
.x0dJyyCXg input {
	width: 100%;
	background-color: transparent;
	border: 0;
	outline: none;
	line-height: 22px;
	font-size: 18px;
}
.x0dJyyCXg input::placeholder {
	color: #b4b4b4;
}
.x6xGhJciS .xK6zzHdt3 {
	font-size: 29px;
	font-weight: 500;
	width: 75%;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
}
.xK6zzHdt3.no-wrap {
	max-width: 75%;
	white-space: nowrap;
}
.x3OPJI1nX {
	font-size: 17px;
	text-align: center;
	margin-top: 5px;
	color: #e2e3e5;
}
.x6xGhJciS .xPgDa0opT {
	font-size: 20px;
	border: 1px solid #484e54;
	background-color: #121314;
	outline: 0;
	padding: 12px;
	width: 75%;
	text-align: center;
	max-height: 35px;
	color: #edeef0;
}
.xPgDa0opT.top {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.xPgDa0opT.bottom {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.x6xGhJciS .x7dBirbNO .spinner {
	width: 24px;
	height: 24px;
	fill: none;
	stroke: #edeef0;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	animation: 1s linear infinite rot;
}
.x6xGhJciS .x7dBirbNO {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2563eb;
	border: 0;
	font-family: "Rubik";
	white-space: nowrap;
	border-radius: 5px;
	gap: 8px;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 20px;
	transition: 0.2s;
	margin-top: 25px;
	margin-bottom: 5px;
	cursor: pointer;
	max-height: 20px;
	color: #edeef0;
}
.x6xGhJciS .x7dBirbNO.progress {
	cursor: default;
}
.x6xGhJciS .xHiNaAdY7 {
	display: none;
	align-items: center;
	gap: 4px;
	font-size: 17px;
	color: #ef4444;
	margin-top: 10px;
}
.x6xGhJciS .xHiNaAdY7.show,
.xaAFBykLS.show {
	display: flex !important;
}
.xaAFBykLS.show {
	animation: 0.2s both scale;
	transform-origin: 0% 0%;
}
.xaAFBykLS {
	display: none;
	flex-direction: column;
	position: fixed;
	top: 200px;
	left: 200px;
	z-index: 145;
	background-color: #18191b;
	border: 1px solid #32363a;
	border-radius: 8px;
	height: auto;
	width: auto;
	min-width: 170px;
}
.xaAFBykLS .menuitem {
	display: flex;
	align-items: center;
	padding: 0 12px;
	font-size: 15px;
	height: 35px;
	gap: 8px;
	transition: 0.2s;
	cursor: pointer;
}
.xMyW2iRSH iframe {
	aspect-ratio: auto 16/9;
	height: auto;
	border-radius: 6px;
	margin-top: 8px;
	max-width: 100%;
}
.menuitem:hover {
	background-color: #223369;
}
.menuitem:hover svg {
	stroke: #96d0ff;
}
.menuitem:hover .cont {
	color: #96d0ff;
}
.menuitem.rd:hover {
	background-color: #561524;
}
.menuitem.rd:hover .cont {
	color: #ff9592;
}
.menuitem.rd:hover svg {
	stroke: #ff9592;
}
.xaAFBykLS .separator {
	height: 1px;
	background-color: #3b4046;
	margin: 5px;
}
@media (max-width: 880px) {
	.sidebar {
		max-width: calc(100% - 40px);
		width: calc(100% - 40px);
	}
	.x2fP9fkxS .xkl384HTx {
		display: flex !important;
	}
	.main {
		position: absolute;
		transform: translateX(100%);
		top: 0;
		right: 0;
		width: 100vw;
		bottom: 0;
		z-index: 25;
	}
	.main .xehdiGgBv {
		display: flex !important;
	}
	.xikyLwDf4 {
		padding: 20px 40px;
	}
	.x9vGRGDgT {
		padding: 20px !important;
	}
}
@media (max-width: 540px) {
	.xSYcbYqTG {
		display: none;
	}
}
@keyframes scale {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	60% {
		transform: scale(1.03);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}
@keyframes fillunfill {
	0% {
		stroke-dashoffset: 58.8;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -58.4;
	}
}
@keyframes rot {
	0% {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
::selection {
	background-color: #253975;
}
.ripple_effect {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: 0.6s linear anim;
	user-select: none;
	pointer-events: none;
}
.x8u3Iqtu9 .ripple_effect {
	z-index: 20;
}
.x1YPTYxid,
.xujXllYgW {
	z-index: 25;
}
@keyframes anim {
	to {
		transform: scale(4);
		opacity: 0;
	}
}
.main .xehdiGgBv {
	display: none;
	max-height: 45px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.main .xehdiGgBv .xMyenRl7K {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.xehdiGgBv .x8JU9DbQZ {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 8px;
	overflow: hidden;
	border-radius: 200px;
	transition: 0.2s;
}
.xehdiGgBv .x8JU9DbQZ svg {
	z-index: 19;
}
.xehdiGgBv .x8JU9DbQZ:hover {
	background-color: #272a2d;
}
.xehdiGgBv .x8JU9DbQZ .ripple_effect {
	z-index: 18;
}
.xehdiGgBv span {
	margin-left: 10px;
	font-size: 20px;
}

.tippy-box {
	background-color: #18181be3;
	color: #dedfe0;
	border: 1px solid #26272be3;
	backdrop-filter: blur(4px);
	border-radius: 8px;
}
.tippy-content {
	font-size: 17px;
}

.x7tEi32S9 {
	position: relative;
	display: flex;
	z-index: 29;
	user-select: none;
	-webkit-user-select: none;
	text-decoration: none;
	background-color: #161619;
	border-radius: 8px;
	max-width: calc(100% - 38px);
	width: max-content;
	min-width: 160px;
	border: 1px solid #2f2f2f;
	padding: 12px 18px;
	cursor: default;
	overflow: hidden;
}

.x7tEi32S9.x7mSAl4Aa {
	cursor: pointer !important;
}

.x7tEi32S9 .xIi6cVVmU {
	width: 20px;
	height: 20px;
	border-radius: 200px;
	z-index: 25;
}

.x7tEi32S9 .progressbar {
	position: absolute;
	bottom: 0;
	height: 3px;
	left: 0;
	background-color: #202022;
	right: 0;
}

.x7tEi32S9 .progressbar .xoW9yDyFK {
	width: 0%;
	height: 100%;
	border-radius: 20px;
	background-color: #3e63dd;
	transition: 0.2s ease;
}

.x7tEi32S9 .x7AADV79i {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	overflow: hidden;
}

.xFUGLhuJT {
	display: flex;
	justify-content: center;
	align-items: center;
}

.xfHleneBl {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
}

.xyf6y5jpd {
	font-size: 18px;
	max-width: 250px;
	white-space: nowrap;
	color: #fff;
	text-overflow: ellipsis;
	overflow: hidden;
	text-decoration: none;
}

.xuGoroqT8 {
	font-size: 15px;
	color: #c8c8cc;
	text-decoration: none;
}

.x7zYNq8HG {
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 6px;
}

.xuFF87Uip {
	display: none;
	flex-direction: column;
	gap: 10px;
	width: 75%;
	margin-top: 20px;
	margin-bottom: 10px;
}

.xuFF87Uip .xEWyszCaI {
	height: 8px;
	width: 100%;
	border-radius: 200px;
	background-color: #2c2c2f;
	overflow: hidden;
}

.xuFF87Uip.show {
	display: flex;
}

.xu0XsWLt5 {
	text-align: center;
	font-size: 18px;
}

.xIvJdFhV6 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
	opacity: 0;
	pointer-events: none;
	background-color: #0006;
	z-index: 999;
	backdrop-filter: blur(5px) saturate(1.5);
	-webkit-backdrop-filter: blur(5px) saturate(1.5);
	transition: all 0.3s ease;
}
.xIvJdFhV6.show {
	opacity: 1;
	pointer-events: all;
}

.xvyZJKm8c {
	aspect-ratio: 15/9;
	max-width: calc(100% - 180px);
	height: calc(100% - 180px);
	padding: 12px;
	border: 1px solid #32363a;
	border-radius: 12px;
	background-color: #18181b;
	z-index: 1000;
}

.xfqMU0Obj {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 12px;
}

.xfqMU0Obj .xcACWexYG {
	display: flex;
	align-items: center;
	gap: 8px;
	background-color: #18191b;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 200px;
	border: 1px solid #242428;
}

.xfqMU0Obj .xcACWexYG.ORLXqVUp {
	flex-grow: 1;
	justify-content: center;
}

.x2fP9fkxS {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
	transition: 0.1s ease;
	border: 1px solid #2a2a2f;
}

.x2fP9fkxS.interim:not(.active) {
	display: none;
}

.x2fP9fkxS:focus {
	outline: none;
}

.x2fP9fkxS:not(.active):hover {
	background-color: #18191b;
	border-color: #414549;
}

.x2fP9fkxS .xQ65c0Nkc {
	text-align: left;
	white-space: nowrap;
	flex-grow: 1;
	margin-left: 4px;
}

.main.x8VAGH6N2 {
	transform: translateX(0);
}

.x2fP9fkxS .xkl384HTx {
	display: none;
	margin-right: 4px;
}

.x2fP9fkxS:hover .xkl384HTx {
	display: flex;
}

.x2fP9fkxS.active {
	background-color: #141728;
	border-color: #3a4f97;
}
.xMyW2iRSH h3 {
	font-weight: 600;
}

.xQ65c0Nkc {
	overflow: hidden;
}

.xybvM5cRF {
	font-size: 17px;
	line-height: 26px;
	text-overflow: ellipsis;
	max-width: 100%;
	color: #fff;
	overflow: hidden;
}

.xT3Ta8vKw {
	line-height: 20px;
	font-size: 14px;
	overflow: hidden;
	color: #e2e3e5;
}
.xusb26IN1 {
	position: absolute;
	top: 200px;
	z-index: 28;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 200px;
	left: 200px;
	z-index: 145;
	overflow: hidden;
	background-color: #18191b;
	border: 1px solid #32363a;
	border-radius: 8px;
	height: auto;
	width: auto;
}

.xusb26IN1 .menuitem {
	display: flex;
	align-items: center;
	padding: 0 12px;
	font-size: 15px;
	height: 35px;
	gap: 8px;
	transition: 0.2s;
	cursor: pointer;
}

.xusb26IN1 .separator {
	height: 1px;
	background-color: #3b4046;
	margin: 5px;
}

@keyframes flashing_caret {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
